body{

margin:0;

font-family:'Trebuchet MS', sans-serif;

background:
linear-gradient(
135deg,
#12002b,
#001f3f
);

color:white;

}



header{

text-align:center;

padding:40px;

background:#1a0033;

border-bottom:5px solid #ffcc00;

}



h1{

font-size:40px;

color:#ffcc00;

text-shadow:
3px 3px #000;

}



.nivel{

margin:30px auto;

padding:30px;

width:80%;

background:

rgba(0,0,0,0.5);

border:3px solid #00ffff;

border-radius:20px;

box-shadow:
0 0 20px #00ffff;

}



h2{

color:#00ffff;

}



.tarjetas{

display:flex;

gap:20px;

justify-content:center;

}



.tarjeta{

background:#222;

padding:20px;

width:30%;

border-radius:15px;

border:2px solid #ffcc00;

}



.tarjeta:hover{

transform:scale(1.05);

background:#333;

}



li{

margin:15px;

font-size:18px;

}




.chatbot{


width:80%;

margin:auto;

background:#111;

padding:30px;

border-radius:20px;

border:3px solid #ff00ff;


}



#chat{

height:300px;

overflow-y:auto;

background:#000;

padding:20px;

border-radius:15px;


}



.mensaje{


padding:12px;

margin:10px;

border-radius:10px;

}



.bot{

background:#003366;

}



.usuario{

background:#663300;

text-align:right;

}



.entrada{

display:flex;

margin-top:20px;

}



input{


flex:1;

padding:15px;

font-size:18px;

border-radius:10px;

}



button{


padding:15px;

background:#ffcc00;

border:none;

border-radius:10px;

font-weight:bold;

cursor:pointer;

}



button:hover{

background:#ffaa00;

}



footer{

text-align:center;

padding:30px;

background:#000;

}
